<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add-Student</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
	
	<nav class="navbar navbar-inverse bg-secondary ">
	  <div class="container-fluid">
	    <div class="navbar-header " >
	      <a class="navbar-brand" th:href="@{/students}" style="color: white; font-size:xx-large">Student Management System</a>
	    </div>
	  </div>
	</nav>
	
	
	<div class="container">
		<div class="mt-5">
			<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center mt-3">Create New Student</h1>
				<div class="card-body">
					<form th:action="@{/students}" th:object="${student}" method="post">
						<div class="form-group">
							<label class="mt-2 mb-1">Student First Name</label>
							<input type="text" name="firstName" th:field="*{firstName}" placeholder="Enter Student's First Name" class="form-control" />
						</div>
						
						<div class="form-group">
							<label class="mt-2 mb-1">Student Last Name</label>
							<input type="text" name="lastName" th:field="*{lastName}" placeholder="Enter Student's last Name" class="form-control" />
						</div>
						
						<div class="form-group">
							<label class="mt-2 mb-1">Student email</label>
							<input type="email" name="email" th:field="*{email}" placeholder="Enter Student's email" class="form-control" />
						</div>
						
						<div class="box-footer mt-3">
							<button type="submit" class="btn btn-primary">Submit</button>
 						</div>
					</form>
					
				</div>
				
			</div>
		</div>
		</div>
	</div>

</body>
</html>